<h1>Crown Town Crafts</h1>
<h3></h3>
<table>
    {{#each Beer}}
    <tr>
        <td>
            {{beer_name}}
        </td>
    </tr>
    {{/each}}
</table>
<!--
{{#each Brewery}}
<ul>
    <li>{{brewery_name}}</li>
    <li>{{address}}</li>
</ul>
<table>
    {{#each Beer}}
    <tr>
        <td>
            {{beer_name}}
        </td>
    </tr>
    {{/each}}
</table>
{{/each}} {{#each Beer}}
<p style="color:blue;">{{this}}</p>
{{else}}
<p class="empty">No content</p>
{{/each}}

-->


<div class="wrapper">
    <div class="full brewHead">
        <h4>Brewery</h4>
        <h5>Founded: 1978</h5>
        <div class="wrapper">
            <div class="left">
                <span class="brew">Neighborhood</span>
                <span>West End</span>
            </div>
            <div class="middle">
                <span class="brew">Address</span>
                <span>123 Central Ave.</span>
            </div>
            <div class="right">
                <span class="brew">Website</span>
                <span>www.thingermabobbrewery.com</span>
            </div>
            <div class="full">
                <span class="brew">Description</span>
                <span> Maecenas rutrum leo at nulla facilisis fringilla. Maecenas eu nulla vitae felis lacinia pellentesque. Curabitur
                    congue purus non volutpat elementum. Duis eu metus luctus, porta velit pulvinar, bibendum nisi. In erat
                    ex, faucibus et mauris sit amet, consectetur lacinia quam.</span>
            </div>
        </div>
    </div>
    <div class="full">
        <h5>Craft Beers by Brewery</h5>
        <div class="wrapper">
            <div class="leftTwo">
                <span>Beer Name</span>
                <span class="brew">Beer Type</span>

            </div>
            <div class="rightThird">
                <span class="brew">
                    ABV
                </span>
                <span class="brew">
                    IBU
                </span>
            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="full">Full</div>
    <div class="leftThird">Two</div>
    <div class="middle">Three</div>
    <div class="rightThird">Four</div>
    <div class="leftTwo">Five</div>
    <div class="rightThird">Six</div>
    <div class="leftThird">Seven</div>
    <div class="rightTwo">Eight</div>
</div>