<h1>Crown Town Crafts</h1>
<h3></h3>

{{#each Brewery}}
    <ul>
        <li>{{brewery_name}}</li>
        <li>{{address}}</li>
    </ul>
<table>
    {{#each Beer}}
    <tr>
        <td>
            {{beer_name}}
        </td>
    </tr>
    {{/each}}
</table>
{{/each}}

{{#each Beer}}
    <p style="color:blue;">{{this}}</p>
{{else}}
    <p class="empty">No content</p>
{{/each}}

<div class="wrapper">
    <div class="full">Full</div>
    <div class="leftThird">Two</div>
    <div class="middle">Three</div>
    <div class="rightThird">Four</div>
    <div class="leftTwo">Five</div>
    <div class="rightThird">Six</div>
    <div class="leftThird">Seven</div>
    <div class="rightTwo">Eight</div>
</div>